[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestapiframework = "*"
djangorestframework = "*"
redis = "==3.2"
celery = "*"

[requires]
python_version = "3.8"
