<html>
<head>
<meta charset="UTF-8">
<title>DB Settings</title>
</head>
<body>


<div style="height: 90;size: 80;background-color:coral">
    <p style="color: black;font-size: 40;text-align: center;padding-top: 30;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">DB Settings </p>
</div >
<br>

<table border="1" width="800">
<tr>
<td>DB Name</td>
<td>{{db.default.NAME}}</td>
</tr>

<tr>
<td>DB Engine</td>
<td>{{db.default.ENGINE}}</td>
</tr>

<tr>
<td>DB Host</td>
<td>{{db.default.HOST}}</td>
</tr>
</table>